/*************************************************************
 * Command:Start
 * Control:TagList.Hot
 * Style:TagList_Hot
 * Desc::
 * Quot:
*************************************************************/

.TagList_Hot #Tag_list
{
    height: 32px;
    line-height: 32px;
    margin-bottom: 8px;
    background: url(../images/back.gif) no-repeat left -736px;
    position: relative;
}
.TagList_Hot #Tag_list ul
{
    padding-left: 90px;
}
.TagList_Hot #Tag_list li
{
    display: inline;
}
.TagList_Hot #Tag_list li a
{
    color: #77807d;
    background: url(../images/tag_list.gif) no-repeat right center;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    padding-right: 5px;
}
.TagList_Hot #Tag_list li a:hover
{
    color: #cc0000;
    text-decoration: underline;
}
.TagList_Hot #Tag_list strong
{
    color: #000;
    width: 79px;
    height: 19px;
    line-height: 19px;
    display: inline-block;
    background: url(../images/back.gif) no-repeat -735px -95px;
    padding-left: 3px;
    color: #fff;
    padding-right: 8px;
    position: absolute;
    top: 7px;
    left: 5px;
}
.TagList_Hot #Tag_list span
{
    float: right;
    margin-right: 10px;
    display: inline;
}
.TagList_Hot .all_tag
{
    padding: 13px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.TagList_Hot .all_tag span
{
    font-size: 14px;
    padding-right: 5px;
    line-height: 23px;
}
.TagList_Hot .all_tag span a
{
    color: #333;
}
.TagList_Hot .all_tag span a:hover
{
    color: #cc0000;
}
.TagList_Hot #tag li span
{
    float: none;
    padding: 0px 8px;
}
.TagList_Hot #tag li a
{
    background: none;
    padding-left: 0px;
}
/*************************************************************
 * Command:End
 * Control:TagList.Hot
 * Style:TagList_Hot
 * Desc::
 * Quot:
*************************************************************/
