<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnableHtmlTemplate>false</EnableHtmlTemplate>
  <EnableCookieAuthentication>true</EnableCookieAuthentication>
  <SSOSiteUrls />
  <SiteLogo>/_data/2011/04/13/95edde63_189e_4125_859b_4de105020faf/Thumbnail/20110413145553407635232181.gif</SiteLogo>
  <ProductName>We7</ProductName>
  <SiteTitle>We7</SiteTitle>
  <SiteFullName>西部动力（北京）科技有限公司</SiteFullName>
  <IcpInfo>1122</IcpInfo>
  <RewriteUrl />
  <UrlExtName>.aspx</UrlExtName>
  <PostInterval>0</PostInterval>
  <WaterMarkStatus>0</WaterMarkStatus>
  <WaterMarkType>0</WaterMarkType>
  <WaterMarkTransparency>5</WaterMarkTransparency>
  <WaterMarkText>We7.cn</WaterMarkText>
  <WaterMarkPic>watermark.gif</WaterMarkPic>
  <WaterMarkFontName>Tahoma</WaterMarkFontName>
  <WaterMarkFontSize>12</WaterMarkFontSize>
  <AttachImageQuality>80</AttachImageQuality>
  <MaxWidthOfUploadedImg>800</MaxWidthOfUploadedImg>
  <ArticleAutoShare>false</ArticleAutoShare>
  <CutToMaxWidthOfUploadedImg>0</CutToMaxWidthOfUploadedImg>
  <OverdueDateTime>1000</OverdueDateTime>
  <ArticlePhotoSize>50*50</ArticlePhotoSize>
  <ADVisbleToSite>0</ADVisbleToSite>
  <DefaultTemplateGroupFileName>we7.xml</DefaultTemplateGroupFileName>
  <DefaultHomePageTitle>首页 - We7站点</DefaultHomePageTitle>
  <DefaultChannelPageTitle>{$ChannelName} - We7站点</DefaultChannelPageTitle>
  <DefaultContentPageTitle>{$ArticleTitle}{$ChannelName} - We7站点</DefaultContentPageTitle>
  <ArticleAutoPublish>false</ArticleAutoPublish>
  <AllowSignup>False</AllowSignup>
  <SystemMail />
  <SysMailUser />
  <SysMailPassword />
  <SysMailServer />
  <NotifyMail />
  <GenericUserManageType />
  <IsAddLog>false</IsAddLog>
  <IsAuditComment>false</IsAuditComment>
  <EnableLoginAuhenCode>false</EnableLoginAuhenCode>
  <ArticleUrlGenerator>yyyy-MM-dd</ArticleUrlGenerator>
  <SiteSkinsBasePath>_skins</SiteSkinsBasePath>
  <EnableSiteSkins>true</EnableSiteSkins>
  <DescriptionPageMeta>基于.net技术的功能强大、操作简单、开放源码的新一代企业级CMS内容管理系统。</DescriptionPageMeta>
  <KeywordPageMeta>开源CMS,asp.net CMS,可扩展站群,内容模型,表单自定义</KeywordPageMeta>
  <AdMode_SingletonSite>true</AdMode_SingletonSite>
  <ArticleSourceDefault />
  <EnableCache>false</EnableCache>
  <IpSecurityEnabled>false</IpSecurityEnabled>
  <IpSecurityDefaultValue>0</IpSecurityDefaultValue>
  <CacheTimeSpan>60</CacheTimeSpan>
  <SysPopServer />
  <Copyright>Powered by &lt;a href="http://we7.cn/" target="_blank"&gt;We7&lt;/a&gt; V2.7 稳定版(10) ©2010 &lt;a href="http://www.westengine.com/" target="_blank"&gt;WestEngine Inc.&lt;/a&gt; &lt;/span&gt;</Copyright>
  <Links>网站简介 - 广告服务 - &lt;a href="SiteMap.aspx"&gt;网站地图&lt;/a&gt; - &lt;a target="_blank" href="/Admin/Signin.aspx"&gt;后台管理&lt;/a&gt; - 联系方式</Links>
  <OnlyLoginUserCanVisit>false</OnlyLoginUserCanVisit>
  <PluginServer>http://plugins.we7.cn</PluginServer>
  <UrlFormat>html</UrlFormat>
  <UrlRewriterProvider>asp.net</UrlRewriterProvider>
  <IPStrategy />
  <StartTemplateMap>true</StartTemplateMap>
  <SiteBuildState>edit</SiteBuildState>
  <IsOEM>false</IsOEM>
  <Upload_AllowImageType>.gif;.jpg;.bmp;.png;.jpeg;.jpe;.swf;</Upload_AllowImageType>
  <Upload_Forbid>.exe;.bat;.pif;.com;.aspx;.asp;.asmx;.ascx;</Upload_Forbid>
  <IPDBConnection>New=False;Compress=True;Synchronous=Off;UTF8Encoding=True;Version=3;Data Source={$Current}\IP.db</IPDBConnection>
  <StartPageViewModule>false</StartPageViewModule>
  <BbsDomain />
  <BbsPwdKey />
  <ShowAllInfo>false</ShowAllInfo>
  <AllowParentArticle>false</AllowParentArticle>
  <JiaMiKey>xbdongli</JiaMiKey>
  <EnableSingleTable>true</EnableSingleTable>
  <ShopService>http://m.we7.cn</ShopService>
  <UserRegisterMode>none</UserRegisterMode>
  <DefaultTemplateEditor>0</DefaultTemplateEditor>
  <Theme>theme</Theme>
  <IsDemoSite>false</IsDemoSite>
</GeneralConfigInfo>