<div style="width: 100%;" id="${controlId}_widget" controlid="${controlId}" class="RadDock  zeLayoutDock">
    <div class="RadDock-header">
        <div class="RadDock-command">
            <a href="javascript:EditLayout('${controlId}')">编辑</a><a href="javascript:DeleteWidget('${controlId}');">删除</a></div>
    </div>
    <div class="RadDock-content">
        <div id="${controlId}" class="sf_cols">
            ${controlContent}
        </div>
    </div>
    <input type="hidden" name="${controlId}_ClientState" id="${controlId}_ClientState"
        autocomplete="off" value='${controlData}' />
</div>
