#set ($pre='###')
#set ($pre2='#')
<!--${pre} name="$model.Label反馈列表(自动布局)" type="system" version="1.0" created="$CurrentDate" 
desc="$model.Desc" author="We7 Group" ${pre}-->
<%@ Control Language="C#" AutoEventWireup="true" Inherits="We7.CMS.WebControls.AdviceProviderEx" %>
<div css="$model.ModelName.Replace(".","_")_<%=CssClass%>">
<table>
    <% foreach (AdviceInfo Item in Items)
       { %>
    <tr>
        <td>
            <%=Item.SN %>
        </td>
        <td> 
         <%  if (Item.Public==1)
              { %>
        <a href="<%=GetUrl(Item.ID) %>">
        <%} else {%>
        <a href="<%=GetUrl(Item.ID) %>" onclick="return checkadvice(this,'<%=Item.ID%>')">
        <%}%>
            <%=Item.Title %></a>
        </td>
        <td>
           <%=Item.Name %>
        </td>
        <td>
            <%=Item.Created.ToString("yyyy-MM-dd") %>
        </td>
        <td>
            <%=Item.StateText %>
        </td>
        #foreach($item in $columns)
		   <td>
				<%=Item["$item.Name"] %>
		   </td>
	    #end
    </tr>
    <%} %>
</table>
</div>
<%--系统提供的方法
string ToStr(object fieldValue)
string ToStr(object fieldValue, int maxlength)
string ToStr(object fieldValue, int maxlength, string tail)
string ToDateStr(object fieldValue, string fmt)
string ToDateStr(object fieldValue)
int? ToInt(object fieldValue)
string GetUrl(object id)
--%>
