/*************************************************************
 * Command:Start
 * Control:top
 * Style:top
 * Desc:目前没有
 * Quot:site.home
*************************************************************/
.web_tip {
    height: 31px;
    line-height: 31px; text-align:right;
}
/*************************************************************
 * Command:End
 * Control:top
 * Style:top
 * Desc:目前没有
 * Quot:site.home
*************************************************************/