<?xml version="1.0" encoding="utf-8" ?>
<models>
    <model label="信息模型" name="Template.ArticleModel" system="1" mapping="ListKeys|ListKeys1|ListKeys2|ListKeys3|ListKeys4"></model>
    <model label="反馈模型" name="Template.AdviceModel" system="1" mapping="ListKeys|ListKeys1|ListKeys2|ListKeys3|ListKeys4"></model>
    <model label="用户模型" name="Template.AccountModel" system="1" mapping="ListKeys|ListKeys1|ListKeys2|ListKeys3|ListKeys4"></model>
</models>
