/*************************************************************
 * Command:Start
 * Control:Statistic.Default
 * Style:Statistic_Default
 * Desc::
 * Quot:
*************************************************************/
/****************网站统计****************/
.Statistic_Default .statistics h3
{
    height: 32px;
    line-height: 32px;
    background: url(../images/back1.gif) no-repeat;
    color: #000;
    padding-left: 28px;
    font-size: 12px;
}
.Statistic_Default .statistics_content
{
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.Statistic_Default .statistics_content
{
    line-height: 26px;
    padding-top: 8px;
    padding-left: 10px;
}
.Statistic_Default *html .statistics_content
{
    padding-top: 8px;
    line-height: 24px;
}
.Statistic_Default .statistics_content a
{
    color: #ae541f;
}
.Statistic_Default .statistics_content a:hover
{
    color: #cc0000;
}

.Statistic_Default .mtop10
{
    margin-top: 0px;
}

.Statistic_Default .underline
{
    height: 6px;
    line-height: 6px;
    font-size: 0px;
    background: url(../images/back.gif) no-repeat -141px -66px;
}



/*************************************************************
 * Command:End
 * Control:Statistic.Default
 * Style:Statistic_Default
 * Desc::
 * Quot:
*************************************************************/