
.window_current .text, .window_current a.text {
    color: #333333;
}
.titleText, a.titleText {
    color: #666666;
    font-weight: bold;
}
.window_current .titleText, .window_current a.titleText {
    color: black;
    font-weight: bold;
}

.window {
    background: url("../images/transparent.gif") repeat scroll 0 0 transparent;
    display: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.window_outer {
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.window_inner {
    height: 100%;
    position: relative;
    width: 100%;
}
.window_titleBar {
    cursor: default;
    height: 39px;
    overflow: hidden;
}
.window_title {
    height: 39px;
    line-height: 20px;
    overflow: hidden;
}
.window_content {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.window_bodyArea {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    top: 28px;
    width: 100%;
}
.window_div {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
}
img.window_img {
    border: 0 none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
a.window_close {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -122px -22px transparent;
    cursor: pointer;
    display: none;
    float: right;
    height: 25px;
    margin-left: 4px;
    width: 25px;
}
a.window_close:hover {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -122px -52px transparent;
}
html.ie6_0 a.window_close, html.ie7_0 a.window_close {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -122px -22px transparent;
}
html.ie6_0 a.window_close:hover, html.ie7_0 a.window_close:hover {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -122px -52px transparent;
}
a.window_max {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -92px -22px transparent;
    cursor: pointer;
    display: none;
    float: right;
    height: 25px;
    margin-left: 4px;
    width: 25px;
}
a.window_max:hover {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -92px -52px transparent;
}
html.ie6_0 a.window_max, html.ie7_0 a.window_max {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -92px -22px transparent;
}
html.ie6_0 a.window_max:hover, html.ie7_0 a.window_max:hover {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -92px -52px transparent;
}
a.window_fullscreen {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -212px -22px transparent;
    cursor: pointer;
    display: none;
    float: right;
    height: 25px;
    margin-left: 4px;
    width: 25px;
}
a.window_fullscreen:hover {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -212px -52px transparent;
}
html.ie6_0 a.window_fullscreen, html.ie7_0 a.window_fullscreen {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -212px -22px transparent;
}
html.ie6_0 a.window_fullscreen:hover, html.ie7_0 a.window_fullscreen:hover {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -212px -52px transparent;
}
a.window_restore_full {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -242px -22px transparent;
    cursor: pointer;
    display: none;
    float: right;
    height: 25px;
    margin-left: 4px;
    width: 25px;
}
a.window_restore_full:hover {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -242px -52px transparent;
}
html.ie6_0 a.window_restore_full, html.ie7_0 a.window_restore_full {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -242px -22px transparent;
}
html.ie6_0 a.window_restore_full:hover, html.ie7_0 a.window_restore_full:hover {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -242px -52px transparent;
}
a.window_restore {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -32px -22px transparent;
    cursor: pointer;
    display: none;
    float: right;
    height: 25px;
    margin-left: 4px;
    width: 25px;
}
a.window_restore:hover {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -32px -52px transparent;
}
html.ie6_0 a.window_restore, html.ie7_0 a.window_restore {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -32px -22px transparent;
}
html.ie6_0 a.window_restore:hover, html.ie7_0 a.window_restore:hover {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -32px -52px transparent;
}
a.window_min {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -62px -22px transparent;
    cursor: pointer;
    display: none;
    float: right;
    height: 25px;
    margin-left: 4px;
    width: 25px;
}
a.window_min:hover {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -62px -52px transparent;
}
html.ie6_0 a.window_min, html.ie7_0 a.window_min {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -62px -22px transparent;
}
html.ie6_0 a.window_min:hover, html.ie7_0 a.window_min:hover {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -62px -52px transparent;
}
a.window_refresh {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -2px -22px transparent;
    cursor: pointer;
    display: block;
    float: right;
    height: 25px;
    margin-left: 4px;
    width: 25px;
}
a.window_refresh:hover {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -2px -52px transparent;
}
html.ie6_0 a.window_refresh, html.ie7_0 a.window_refresh {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -2px -22px transparent;
}
html.ie6_0 a.window_refresh:hover, html.ie7_0 a.window_refresh:hover {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -2px -52px transparent;
}
a.window_pinUp {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -182px -22px transparent;
    cursor: pointer;
    display: none;
    float: right;
    height: 25px;
    margin-left: 4px;
    width: 25px;
}
a.window_pinUp:hover {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -182px -52px transparent;
}
html.ie6_0 a.window_pinUp, html.ie7_0 a.window_pinUp {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -182px -22px transparent;
}
html.ie6_0 a.window_pinUp:hover, html.ie7_0 a.window_pinUp:hover {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -182px -52px transparent;
}
a.window_pinDown {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -152px -22px transparent;
    cursor: pointer;
    display: none;
    float: right;
    height: 25px;
    margin-left: 4px;
    width: 25px;
}
a.window_pinDown:hover {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -152px -52px transparent;
}
html.ie6_0 a.window_pinDown, html.ie7_0 a.window_pinDown {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -152px -22px transparent;
}
html.ie6_0 a.window_pinDown:hover, html.ie7_0 a.window_pinDown:hover {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -152px -52px transparent;
}
.window_controlArea {
    bottom: 0;
    display: none;
    height: 23px;
    padding: 3px 0 0;
    position: absolute;
    width: 100%;
}
a.window_button {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll 0 -200px transparent;
    color: #333333;
    cursor: pointer;
    display: none;
    float: right;
    height: 23px;
    line-height: 23px;
    margin-left: 10px;
    text-align: center;
    width: 66px;
}
a.window_button:hover {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll 0 -200px transparent;
}
a.window_ok {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll 0 -200px transparent;
}
a.window_ok:hover {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll 0 -200px transparent;
}
a.window_cancel {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll 0 -200px transparent;
}
a.window_cancel:hover {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll 0 -200px transparent;
}
a.window_previous {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll 0 -200px transparent;
}
a.window_previous:hover {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll 0 -200px transparent;
}
a.window_next {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll 0 -200px transparent;
}
a.window_next:hover {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll 0 -200px transparent;
}
.window_frame {
    display: none;
    height: 100%;
    position: relative;
    width: 100%;
}
.window_ajax {
    height: 100%;
    overflow: auto;
    width: 100%;
}
.window_bigIframe {
    background: none repeat scroll 0 0 transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.window_bg_container {
    border: 0 none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.window_bg_container_ipad {
    background-color: rgba(232, 232, 232, 0.8);
}
.window_current .window_bg_container_ipad {
    background-color: #E8E8E8;
}
.window_bg {
    border: 0 none;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
}
.window_center {
    background: url("../images/window.png") repeat scroll left top transparent;
    height: 100%;
    width: 100%;
}
html.ie6_0 .window_center, html.ie7_0 .window_center {
    background: none repeat scroll 0 0 #C4DEED;
}
.window_current .window_center {
    background: url("../images/window_cur.png") repeat scroll left top transparent;
    height: 100%;
    width: 100%;
}
html.ie6_0 .window_current .window_center, html.ie7_0 .window_current .window_center {
    background: none repeat scroll 0 0 #B6EAFD;
}
.window_t {
    background: url("../images/sprite_repeat_x_png.png") repeat-x scroll 0 -80px transparent;
    height: 10px;
    left: 0;
    overflow: hidden;
    top: -10px;
    width: 100%;
}
html.ie6_0 .window_t, html.ie7_0 .window_t {
    background: url("../images/sprite_repeat_x_gif.gif") repeat-x scroll 0 -80px transparent;
}
.window_current .window_t {
    background: url("../images/sprite_repeat_x_png.png") repeat-x scroll 0 -100px transparent;
    height: 10px;
    left: 0;
    overflow: hidden;
    top: -10px;
    width: 100%;
}
html.ie6_0 .window_current .window_t, html.ie7_0 .window_current .window_t {
    background: url("../images/sprite_repeat_x_gif.gif") repeat-x scroll 0 -100px transparent;
}
.window_rt {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -10px 0 transparent;
    height: 10px;
    overflow: hidden;
    right: -10px;
    top: -10px;
    width: 10px;
}
html.ie6_0 .window_rt, html.ie7_0 .window_rt {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -10px 0 transparent;
}
.window_current .window_rt {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -30px 0 transparent;
    height: 10px;
    overflow: hidden;
    right: -10px;
    top: -10px;
    width: 10px;
}
html.ie6_0 .window_current .window_rt, html.ie7_0 .window_current .window_rt {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -30px 0 transparent;
}
.window_r {
    background: url("../images/sprite_repeat_y_png.png") repeat-y scroll -10px 0 transparent;
    height: 100%;
    overflow: hidden;
    right: -10px;
    width: 10px;
}
html.ie6_0 .window_r, html.ie7_0 .window_r {
    background: url("../images/sprite_repeat_y_gif.gif") repeat-y scroll -10px 0 transparent;
}
.window_current .window_r {
    background: url("../images/sprite_repeat_y_png.png") repeat-y scroll -30px 0 transparent;
    height: 100%;
    overflow: hidden;
    right: -10px;
    width: 10px;
}
html.ie6_0 .window_current .window_r, html.ie7_0 .window_current .window_r {
    background: url("../images/sprite_repeat_y_gif.gif") repeat-y scroll -30px 0 transparent;
}
.window_rb {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -10px -10px transparent;
    bottom: -10px;
    height: 10px;
    overflow: hidden;
    right: -10px;
    width: 10px;
}
html.ie6_0 .window_rb, html.ie7_0 .window_rb {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -10px -10px transparent;
}
.window_current .window_rb {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -30px -10px transparent;
    bottom: -10px;
    height: 10px;
    overflow: hidden;
    right: -10px;
    width: 10px;
}
html.ie6_0 .window_current .window_rb, html.ie7_0 .window_current .window_rb {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -30px -10px transparent;
}
.window_b {
    background: url("../images/sprite_repeat_x_png.png") repeat-x scroll 0 -90px transparent;
    bottom: -10px;
    height: 10px;
    left: 0;
    overflow: hidden;
    width: 100%;
}
html.ie6_0 .window_b, html.ie7_0 .window_b {
    background: url("../images/sprite_repeat_x_gif.gif") repeat-x scroll 0 -90px transparent;
}
.window_current .window_b {
    background: url("../images/sprite_repeat_x_png.png") repeat-x scroll 0 -110px transparent;
    bottom: -10px;
    height: 10px;
    left: 0;
    overflow: hidden;
    width: 100%;
}
html.ie6_0 .window_current .window_b, html.ie7_0 .window_current .window_b {
    background: url("../images/sprite_repeat_x_gif.gif") repeat-x scroll 0 -110px transparent;
}
.window_lb {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll 0 -10px transparent;
    bottom: -10px;
    height: 10px;
    left: -10px;
    overflow: hidden;
    width: 10px;
}
html.ie6_0 .window_lb, html.ie7_0 .window_lb {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll 0 -10px transparent;
}
.window_current .window_lb {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -20px -10px transparent;
    bottom: -10px;
    height: 10px;
    left: -10px;
    overflow: hidden;
    width: 10px;
}
html.ie6_0 .window_current .window_lb, html.ie7_0 .window_current .window_lb {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -20px -10px transparent;
}
.window_l {
    background: url("../images/sprite_repeat_y_png.png") repeat-y scroll 0 0 transparent;
    height: 100%;
    left: -10px;
    overflow: hidden;
    width: 10px;
}
html.ie6_0 .window_l, html.ie7_0 .window_l {
    background: url("../images/sprite_repeat_y_gif.gif") repeat-y scroll 0 0 transparent;
}
.window_current .window_l {
    background: url("../images/sprite_repeat_y_png.png") repeat-y scroll -20px 0 transparent;
    height: 100%;
    left: -10px;
    overflow: hidden;
    width: 10px;
}
html.ie6_0 .window_current .window_l, html.ie7_0 .window_current .window_l {
    background: url("../images/sprite_repeat_y_gif.gif") repeat-y scroll -20px 0 transparent;
}
.window_lt {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll 0 0 transparent;
    height: 10px;
    left: -10px;
    overflow: hidden;
    top: -10px;
    width: 10px;
}
html.ie6_0 .window_lt, html.ie7_0 .window_lt {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll 0 0 transparent;
}
.window_current .window_lt {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll -20px 0 transparent;
    height: 10px;
    left: -10px;
    overflow: hidden;
    top: -10px;
    width: 10px;
}
html.ie6_0 .window_current .window_lt, html.ie7_0 .window_current .window_lt {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll -20px 0 transparent;
}
.statusBar_line {
    background: url("../images/sprite_main_png.png?t=20101011006") no-repeat scroll 0 -250px transparent;
    display: inline;
    float: right;
    height: 29px;
    margin: 2px 2px 0 0;
    overflow: hidden;
    width: 2px;
}
html.ie6_0 .statusBar_line, html.ie7_0 .statusBar_line {
    background: url("../images/sprite_main_gif.gif?t=20101011006") no-repeat scroll 0 -250px transparent;
}

element.style {
    display: block;
    height: 431px;
}

.loginArea {
    background: url("../images/portal_repeat_x_png.png?t=20101222002") repeat-x scroll 0 -20px white;
    border: 1px solid #AAAAAA;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

ul.shoplist{margin:0;padding:0;}
ul.shoplist li{
    margin:6px 0px;
    border-bottom:1px #ccc solid;
	height:90px;
	text-indent:0;
	width:auto;
	list-style-type:none;
}
ul.shoplist li img{
    border:1px solid #ccc;
}
ul.shoplist li a,a:hover,a:visited,a:link{    
    color:Blue;
}
ul.shoplist li table{margin:0;padding:0;width:100%;} 
ul.shoplist li td div.fl{float:left;}
ul.shoplist li td div.half{width:50%;}
ul.shoplist li td div.clear{clear:both;}
