<?xml version="1.0"?>
<ArrayOfColumnModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ColumnModule>
    <ID>{928b8e2f-b004-47bb-adef-2053bd8a0db0}</ID>
    <Title>图片组上传</Title>
    <Desc>图片组上传</Desc>
    <ParamIntro />
    <Path>~/Admin/controls/PhotoUpload.ascx</Path>
  </ColumnModule>
</ArrayOfColumnModule>