<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <item name="Assembly" value="We7.Plugin.Passport.Discuz.dll" />
  <item name="ClassName" value="We7.Plugin.Passport.App_DiscuzNT30" />
  <item name="ConfigString" value="api_key=149eb7407bdd6d8dda1e882d2fe6700d;secret=ae6622749cd2737a9a3119a2a79b9544;url=http://bbs.we7.cn/" />
</configuration>