<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="We7.CMS.Accounts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <We7.CMS.Accounts.Properties.Settings>
            <setting name="We7_CMS_Accounts_RemoteAccountService_AccountWebService"
                serializeAs="String">
                <value>http://localhost:2600/Install/AccountWebService.asmx</value>
            </setting>
        </We7.CMS.Accounts.Properties.Settings>
    </applicationSettings>
</configuration>