/*************************************************************
 * Command:Start
 * Control:sbzlEdit.Genarate
 * Style:
 * Desc:目前没有
 * Quot:ReportData
*************************************************************/

/*************************************************************
 * Command:End
 * Control:sbzlEdit.Genarate
 * Style:
 * Desc:目前没有
 * Quot:ReportData
*************************************************************/


/*************************************************************
 * Command:Start
 * Control:sbzlQueryList.Genarate
 * Style:
 * Desc:目前没有
 * Quot:ReportList
*************************************************************/

/*************************************************************
 * Command:End
 * Control:sbzlQueryList.Genarate
 * Style:
 * Desc:目前没有
 * Quot:ReportList
*************************************************************/


/*************************************************************
 * Command:Start
 * Control:sbzlView.Genarate
 * Style:
 * Desc:目前没有
 * Quot:ReportDetail
*************************************************************/

/*************************************************************
 * Command:End
 * Control:sbzlView.Genarate
 * Style:
 * Desc:目前没有
 * Quot:ReportDetail
*************************************************************/