<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <type name="专题应用">
    <option name="首页显示" value="00000001"></option>
    <option name="备用1" value="00000002"></option>
    <option name="备用2" value="00000004"></option>
    <option name="备用3" value="00000008"></option>
  </type>
  <type name="备用2">
    <option name="首页显示" value="00000001"></option>
    <option name="备用1" value="00000002"></option>
    <option name="备用2" value="00000004"></option>
    <option name="备用3" value="00000008"></option>
    
  </type>
</configuration>
