<?xml version="1.0" encoding="utf-8" ?>
<urls>

  <rewrite name="pass-img"
     path=""
     pattern = "(.*(\.gif|\.js|\.jpg|\.bmp|\.png|\.swf|\.flv|\.zip|\.jpeg|\.jpe|\.css)$)"
     page=""
     querystring="" />

  <rewrite name="pass-ckfinder"
      path="/scripts/{0}"
      pattern = "/scripts/(.*)"
      page=""
      querystring="" />
  <!--可视化设计-->

  <rewrite name="renderuc"
  path="(?&lt;=\?|&amp;)renderuc=(?=\b)"
  pattern = "(?&lt;=\?|&amp;)renderuc=(?=\b)"
  page="/Admin/VisualTemplate/RenderUC.aspx"
  querystring="" />

  <rewrite name="design"
 path="(?&lt;=\?|&amp;)state=design(?=\b)"
 pattern = "(?&lt;=\?|&amp;)state=design(?=\b)"
 page="/Admin/VisualTemplate/PageEditor.aspx"
 querystring="" />

  <!--end-->
  
  
  <rewrite name="pass-admin"
     path="/admin/{0}"
     pattern = "/admin/(.*)"
     page=""
     querystring="" />
  <rewrite name="pass-modelUI"
   path="/ModelUI/{0}"
   pattern = "/ModelUI/(.*)"
   page=""
   querystring="" />
  <rewrite name="pass-user"
   path="/user/{0}"
   pattern = "/user/(.*)"
   page=""
   querystring="" />
  <rewrite name="pass-go"
     path="/go/{0}"
     pattern = "/go/(.*)"
     page=""
     querystring="" />
  <rewrite name="pass-_skin"
   path="/_skin/{0}"
   pattern = "/_skins/(.*)"
   page=""
   querystring="" />
  <rewrite name="pass-_skin"
 path="/Plugins/{0}"
 pattern = "/Plugins/(.*)"
 page=""
 querystring="" />
  <rewrite name="pass-_data"
 path="/_data/{0}"
 pattern = "/_data/(.*)"
 page=""
 querystring="" />
  <rewrite name="pass-install"
 path="/install/{0}"
 pattern = "/install/(.*)"
 page=""
 querystring="" />

  <rewrite name="show-welcome"
     path="/"
     pattern = "^/$"
     page="/go/ShowSitePage.aspx"
     querystring="" />

  <rewrite name="showwelcome"
     path="/default.aspx"
     pattern = "^/default((.aspx)|(.html))"
    page="/go/ShowSitePage.aspx"
     querystring="" />

  <rewrite name="showhome"
   path="/home.html"
   pattern = "^/home((.aspx)|(.html))"
  page="/go/ShowSitePage.aspx"
   querystring="mode=home" />

  <rewrite name="search"
   path="/{0}/search.aspx?keyword="
   pattern = "/search.aspx"
   page="/go/ShowChannel.aspx"
   querystring="mode=search" />

  <rewrite name="search"
     path="/{0}/search.aspx?keyword="
     pattern = "/((\w|(-)|(_)|\/)+)\/search.aspx"
     page="/go/ShowChannel.aspx"
     querystring="mode=search" />

  <rewrite name="showchannel"
      path="/{0}"
      pattern = "/((\w|(-)|(_)|\/)*)$"
      page="/go/ShowChannel.aspx"
      querystring="channel=$1" />

  <rewrite name="showchannel-html"
        path="/{0}/default.aspx"
        pattern = "/((\w|(-)|(_)|\/)+)\/default((.aspx)|(.html))"
        page="/go/ShowChannel.aspx"
        querystring="channel=$1" />

  <rewrite name="showchannel-list"
       path="/{0}/list.html"
       pattern = "/((\w|(-)|(_)|\/)+)\/list((.aspx)|(.html))"
       page="/go/ShowChannel.aspx"
       querystring="channel=$1^mode=list" />

  <rewrite name="showarticle"
        path="/{0}/{1}.aspx"
        pattern = "/((\w|(-)|(_)|\/)+)\/((\w|(-)|(_))+)((.aspx)|(.html))"
        page="/go/ShowArticle.aspx"
        querystring="channel=$1^article=$2" />

  <rewrite name="login"
   path="/login.aspx"
   pattern = "^/login.((aspx)|(html))"
   page="/go/ShowSitePage.aspx"
   querystring="mode=login" />

  <rewrite name="login"
  path="/login.aspx"
  pattern = "^/signin.((aspx)|(html))"
  page="/go/ShowSitePage.aspx"
  querystring="mode=login" />

  <rewrite name="retrievepassword"
   path="/retrievepassword.aspx"
   pattern = "^/retrievepassword.((aspx)|(html))"
   page="/go/ShowSitePage.aspx"
   querystring="mode=retrievepassword" />

  <rewrite name="register"
 path="/register.aspx"
 pattern = "^/register.((aspx)|(html))"
 page="/go/ShowSitePage.aspx"
 querystring="mode=register" />

  <rewrite name="groupsearch"
   path="/gsearch.aspx?keyword="
   pattern = "/gsearch.aspx"
   page="/go/ShowSitePage.aspx"
   querystring="mode=groupsearch" />

  <!--可视化设计-->
</urls>