<?xml version="1.0" encoding="utf-8" ?>
<configuration value="aaa">
  <item name="ffmpeg" value="/bin/ffmpeg/ffmpeg.exe"/>
  <item name="mencoder" value="/bin/mencoder/mencoder.exe"/>
  <item name="upfile" value="/_data/uploads"/>
  <item name="imgfile" value="/_data/videos/images"/>
  <item name="CatchFlvImgSize" value="240x180"/>
  <item name="widthSize" value="400"/>
  <item name="heightSize" value="350"/>
  <item name="playfile" value="/_data/videos"/>
  <item name="player" value="/images/DJPlayer.swf"/>
  <item name="configxml" value="/addins/config.xml" />
</configuration>
